<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ready to join?</h2>
                <hr class="light">
                <p class="text-faded">Click the link below to visit our facebook group!</p>
                <a href="https://www.facebook.com/groups/3730979196935354" class="btn btn-default btn-xl">Join Now!</a>
            </div>
        </div>
    </div>
</section>
