<nav>
	<ul>
		{% for navitem in site.data.navbar %}
		{% if navitem.subcategories != null %}
		<li>
			<a href="{{ site.url }}{{ navitem.url }}">{{ navitem.title }} ▼</a>
			<ul>
				{% for subcategory in navitem.subcategories %}
				<li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% elsif navitem.title == page.title %}
		<li class="active">
			<a href="{{ navitem.url }}">{{ navitem.title }}</a>
		</li>
		{% else %}
		<li>
			<a href="{{ site.url }}{{ navitem.href }}">{{ navitem.title }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>
