<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teams</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-keyboard-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Who We Are</h3>
                    <p class="text-muted">We're a passionate and dedicated group of students who make up the Robotics Club of Marc Garneau Collegiate Institute, a secondary school located in Flemingdon Park, Toronto</p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>What We Do</h3>
                    <p class="text-muted">Our club aims to educate students and promote robotics, encouraging teamwork through providing hands-on and interactive experiences with robotics such as competing in tournaments</p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Our Website</h3>
                    <p class="text-muted">This website is host to information about us, how to join, our past achievements, our contact information, and a wealth of resources related to robotics</p>
                </div>
            </div>
        </div>
    </div>
</section>
