<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-CA" }}">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

	{% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
	<a id="skip-to-content" href="#content">Skip to the content.</a>
	{% include navbar.html %}
	<header class="page-header" role="banner">
		<h1 class="project-name">MGCI Robotics Club</h1>
		<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
	</header>

	<main id="content" class="main-content" role="main">
		{{ content }}
		{% include footer.html %}
	</main>

</body>

</html>
